<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Quiz Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <div id="content_main">
            <div id = "Score">
                <h2>{{ Name }},</h2>
                <h4>You scored {{ Score }} / {{ Total }}</h4>
            </div>
            <div id = "Score_report">
                {%  for i in WrongAnswered %}
                    <div id="quizQues{{ i.id }}" style="padding: 5px">
                        <div id = "ques{{ i.id }}">
                            <b>Question {{ i.id }}</b><br>{{ i.question  }}
                        </div>
                        <div id="yourAns{{ i.id }}">
                            Your Answer : {{ i.your_answer }}
                        </div>
                        <div id="correctAns{{ i.id }}">
                            Correct Answer : {{ i.correct_answer }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="/home">Home</a>
        </div>
    </div>
</body>
</html>